<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title &middot; Events</title>
    }
    else
    {
        <title>Events</title>
    }
    <link href="~/Content/img/events-logo.png" rel="icon" />

    @Styles.Render("~/content/css")
    @Styles.Render("~/fontawesome/css")
</head>

<body class="bg-light">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" id="mainNavbar">
        <div class="container">
            <a class="main-font text-primary h1" href="/">Events</a>
            <button class="btn btn-white d-block d-lg-none nav-toggler" type="button">
                <i class="fas fa-stream fa-lg text-muted"></i>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    @if (Session["UserID"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="/cadastro">Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/entrar">Entrar</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown" title="Conta">
                                <i class="far fa-user-circle fa-lg"></i><span class="d-inline-block d-sm-none ml-2">Conta</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right bg-white border-0 shadow-sm" style="width:220px;">
                                <div class="text-center p-3">
                                    <div class="dropdown-item-text">@Session["Name"]</div>
                                    <div class="dropdown-header">@Session["Email"]</div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item profile" href="#profileModal" data-toggle="modal">
                                    <i class="fas fa-user-circle mr-2"></i>Conta
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="#">
                                    <i class="fas fa-arrow-circle-down mr-2"></i>Baixar app
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/sair">
                                    <i class="fas fa-sign-out-alt mr-3"></i>Sair
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!-- content -->
    @RenderBody()

    <!-- footer -->
    <footer class="bg-white text-center text-sm-left py-5 mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-2 mb-sm-0">
                    <p class="text-muted">INSTITUCIONAL</p>
                    <ul class="list-unstyled">
                        <li><a target="_blank" href="https://fieb.edu.br/">Portal FIEB <i class="fas fa-external-link-alt"></i></a></li>
                        <li><a target="_blank" href="http://portal.barueri.sp.gov.br/">Prefeitura de Barueri <i class="fas fa-external-link-alt"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-2 mb-sm-0">
                    <p class="text-muted">AJUDA</p>
                    <ul class="list-unstyled">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Empresas</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-2 mb-sm-0">
                    <p class="text-muted">CONTATO</p>
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Telefone" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Dúvidas, sugestões ou críticas"></textarea>
                        </div>

                        <div class="form-group">
                            <input class="btn btn-primary btn-block" type="submit" placeholder="Telefone" />
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 mb-2 mb-sm-0">
                    <p class="text-muted">SOCIAL</p>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="#facebook" title="Facebook"><i class="fab fa-facebook fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#whatsapp" title="WhatsApp"><i class="fab fa-whatsapp fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#instagram" title="Instagram"><i class="fab fa-instagram fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <div class="col-lg text-muted">
                    <strong>Events &copy; 2020</strong>  Todos os direitos reservados.
                </div>
            </div>
        </div>
    </footer>

    @Html.Partial("_Profile")

    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/popper.js")
    @Scripts.Render("~/scripts/bootstrap")
    @Scripts.Render("~/scripts/js")
    @RenderSection("scripts", required: false)

</body>

</html>