<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title &middot; Events</title>
    }
    else
    {
        <title>Events</title>
    }
    <link href="~/Content/img/events-logo.png" rel="icon" />

    @Styles.Render("~/content/css")
    @Styles.Render("~/alertify/css")
    @Styles.Render("~/fontawesome/css")
</head>

<body class="bg-light">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom" id="mainNavbar">
        <div class="container">
            <a class="main-font text-primary h1" href="/">Events</a>
            <button class="btn btn-white d-block d-lg-none nav-toggler" type="button">
                <i class="fas fa-stream fa-lg text-muted"></i>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    @if (Session["UserID"] == null)
                    {
                        <li class="nav-item">
                            <a class="btn btn-primary" href="/cadastro">Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/entrar">Entrar</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" title="Opções da conta">@Session["Name"]</a>
                            <div class="dropdown-menu dropdown-menu-right bg-white border-0 shadow-sm" style="width:220px;">
                                <div class="text-center p-2">
                                    <div class="dropdown-item-text">@Session["Name"]</div>
                                    <small class="text-muted">@Session["Email"]</small>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item profile" href="#profileModal" data-toggle="modal">
                                    <i class="fas fa-user-circle mr-2"></i>Conta
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="#">
                                    <i class="fas fa-arrow-circle-down mr-2"></i>Baixar app
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/sair">
                                    <i class="fas fa-sign-out-alt mr-2"></i>Sair
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!-- content -->
    @RenderBody()

    <!-- footer -->
    <footer class="bg-white text-center py-3 mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg text-muted">
                    <strong>Events &copy; 2020</strong> Todos os direitos reservados.
                </div>
            </div>

        </div>
    </footer>

    @Html.Partial("_Profile")

    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/popper.js")
    @Scripts.Render("~/scripts/bootstrap")
    @Scripts.Render("~/scripts/js")
    @Scripts.Render("~/alertify/js")
    @RenderSection("scripts", required: false)

</body>

</html>