@using System.Security.Claims;
@{
    var userAuth = (ClaimsIdentity)User.Identity;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title &middot; Events</title>
    }
    else
    {
        <title>Events</title>
    }
    <link href="~/content/img/icons/events-logo.png" rel="icon" />
    @Styles.Render("~/styles/css")
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light py-4 mb-5">
        <div class="container">
            <a class="main-font text-primary" href="@Url.Action("Index", "Main")">Events</a>

            <a href=".navbar-collapse" class="nav-link d-block d-lg-none" data-toggle="collapse">
                <i class="fas fa-ellipsis-h fa-lg"></i>
            </a>
            <div class="collapse navbar-collapse mt-3 mt-sm-0">
                <ul class="navbar-nav ml-auto">
                    @if (userAuth.IsAuthenticated)
                    {
                        <li class="nav-item dropdown" id="myDropdown">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-toggle="dropdown"
                               title="Opções da conta">
                                @userAuth.Claims.Where(c => c.Type == ClaimTypes.GivenName).FirstOrDefault().Value
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow-sm" style="width: 250px;">
                                <div class="text-center p-2">
                                    <i class="fa fa-user-circle fa-2x mb-2"></i>
                                    <div class="dropdown-item-text">
                                        @userAuth.Claims.Where(c => c.Type == ClaimTypes.GivenName).FirstOrDefault().Value
                                    </div>
                                    <small class="text-muted">
                                        @userAuth.Claims.Where(c => c.Type == ClaimTypes.Email).FirstOrDefault().Value
                                    </small>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("MyProfile", "Users", new { id = userAuth.Claims.Where(c => c.Type == ClaimTypes.Sid).FirstOrDefault().Value })">
                                    <i class="fas fa-user-circle mr-2"></i>Conta
                                </a>
                                @if (userAuth.Claims.Any(c => c.Type == ClaimTypes.Role && (c.Value == "1" || c.Value == "2")))
                                {
                                    <a class="dropdown-item" href="@Url.Action("MyEvents", "Events")">
                                        <i class="fas fa-calendar mr-2"></i>Meus eventos
                                    </a>
                                }
                                else if (userAuth.Claims.Any(c => c.Type == ClaimTypes.Role && (c.Value == "3")))
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "Master")"><i class="fas fa-tools mr-2"></i>Meu Painel</a>
                                }
                                else if (userAuth.Claims.Any(c => c.Type == ClaimTypes.Role && (c.Value == "4")))
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "Admin")"><i class="fas fa-tools mr-2"></i>Meu Painel</a>
                                }
                                else if (userAuth.Claims.Any(c => c.Type == ClaimTypes.Role && (c.Value == "5")))
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "Assistant")"><i class="fas fa-tools mr-2"></i>Meu Painel</a>
                                }
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item-text">
                                    <div class="form-group my-auto">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="night-mode">
                                            <label class="custom-control-label" for="night-mode">Modo escuro <span class="badge badge-primary">Beta</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="#">
                                    <i class="fas fa-arrow-circle-down mr-2"></i>Baixar app
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Users")">
                                    <i class="fas fa-sign-out-alt mr-2"></i>Sair
                                </a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Users")"><i class="fas fa-sign-in-alt"></i> Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary ml-0 ml-sm-2" href="@Url.Action("Register", "Users")"><i class="fas fa-user-plus"></i> Cadastro</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/jquery")
    @Scripts.Render("~/popper.js")
    @Scripts.Render("~/bootstrap/js")
    @Scripts.Render("~/iziToast/js")
    @Scripts.Render("~/scripts/js")

    @RenderSection("Scripts", required: false)
</body>

</html>