@using System.Security.Claims;

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title &middot; Events</title>
    }
    else
    {
        <title>Events</title>
    }
    <link href="~/content/img/icons/events-logo.png" rel="icon" />

    @Styles.Render("~/styles/css")
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top shadow-sm py-3 mb-5" id="mainNavbar">
        <div class="container">
            <a class="main-font text-primary" href="/">Events</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse">
                <i class="fas fa-bars fa-lg"></i>
            </button>
            <div class="collapse navbar-collapse mt-3 mt-sm-0" id="navCollapse">
                <ul class="navbar-nav ml-auto">
                    @{
                        var userAuth = (ClaimsIdentity)User.Identity;

                        if (userAuth.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   title="Opções da conta">
                                    <i class="fas fa-user-circle mr-2"></i>@userAuth.Claims.Where(c => c.Type == ClaimTypes.GivenName).FirstOrDefault().Value
                                </a>
                                <div class="dropdown-menu dropdown-menu-right bg-white border-0 shadow" style="width: 220px;">
                                    <div class="text-center p-2">
                                        <i class="fas fa-user-circle fa-2x mb-2"></i>
                                        <div class="dropdown-item-text">
                                            @userAuth.Claims.Where(c => c.Type == ClaimTypes.GivenName).FirstOrDefault().Value
                                        </div>
                                        <small class="text-muted">
                                            @userAuth.Claims.Where(c => c.Type == ClaimTypes.Email).FirstOrDefault().Value
                                        </small>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item profile" href="#profileModal" data-toggle="modal">
                                        <i class="fas fa-user-circle mr-2"></i>Conta
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item disabled" href="#">
                                        <i class="fas fa-arrow-circle-down mr-2"></i>Baixar app
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/sair">
                                        <i class="fas fa-sign-out-alt mr-2"></i>Sair
                                    </a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/cadastro"><i class="fas fa-user-plus"></i> Cadastro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/entrar"><i class="fas fa-sign-in-alt"></i> Entrar</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center text-sm-left">
        @RenderBody()
    </div>

    <footer class="border-top bg-light text-center py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg text-muted">
                    <strong>Events &copy; 2020</strong> Todos os direitos reservados.
                </div>
            </div>
        </div>
    </footer>

    @Html.Partial("_Profile")

    @Scripts.Render("~/jquery")
    @Scripts.Render("~/popper.js")
    @Scripts.Render("~/bootstrap/js")
    @Scripts.Render("~/alertify/js")
    @Scripts.Render("~/scripts/js")

    @RenderSection("Scripts", required: false)
</body>

</html>