@model PagedList.IPagedList<Events.Models.USUARIO>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Painel de Usuários";
}
<div class="row mb-3">
    <div class="col-lg">
        <h4>
            <a class="text-dark mr-2" href="@Url.Action("Index", "Master")"><i class="fas fa-arrow-left"></i></a>
            @ViewBag.Title
        </h4>
        <p class="text-muted">Crie, edite ou desative os registros no @ViewBag.Title.</p>
    </div>
</div>

<div class="row mb-3">
    <div class="col-lg-6">
        @using (Html.BeginForm("UsersList", "Master", FormMethod.Get))
        {
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, null, new { @class = "form-control", placeholder = "Digite para pesquisar...", @type = "search" })
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-4">
        <a class="btn btn-primary" href="@Url.Action("UserCreate", "Master")"><i class="fas fa-user-plus"></i> Novo Usuário</a>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <div class="custom-control custom-switch">
                <input type="checkbox" id="showActive" class="custom-control-input" onclick="ShowInactive()">
                <label class="custom-control-label" for="showActive">Mostrar Inativos</label>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="table-responsive table-hover">
        <table class="table text-truncate">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>

            <tbody class="bg-white">
                @foreach (var item in Model)
                {
                    if (item.ATIVO == 0)
                    {
                        <tr class="d-none inactive-list">
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.COD_USUARIO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.COD_PERFIL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EMAIL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CELULAR)
                            </td>
                            <td>
                                <div class="badge badge-danger">Inativo</div>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("UserDetails", "Master", new { id = item.COD_USUARIO })"><i class="fas fa-pencil-alt"></i> Editar</a>
                                <a class="btn btn-success" onclick="Activate(@item.COD_USUARIO)" href="#"><i class="fas fa-check-circle"></i> Ativar</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.COD_USUARIO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.COD_PERFIL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EMAIL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CELULAR)
                            </td>
                            <td>
                                <div class="badge badge-success">Ativo</div>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("UserDetails", "Master", new { id = item.COD_USUARIO })"><i class="fas fa-pencil-alt"></i> Editar</a>
                                <a class="btn btn-danger" onclick="Delete(@item.COD_USUARIO)" href="#"><i class="fas fa-trash-alt"></i> Apagar</a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 my-auto">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    </div>
    <div class="col-lg-6 text-right">
        @Html.PagedListPager(Model, page => Url.Action("UsersList",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
        new PagedListRenderOptions
        {
            DisplayPageCountAndCurrentLocation = false,
            MaximumPageNumbersToDisplay = 10
        })
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            var successMsg = '@TempData["Success"]';

            if (successMsg != '') {
                iziToast.success({
                    title: 'Sucesso',
                    message: successMsg
                });
            }
        })

        function Delete(id) {
            iziToast.warning({
                backgroundColor: '#6930EE',
                theme: 'dark',
                progressBar: false,
                timeout: false,
                close: false,
                overlay: true,
                displayMode: 'once',
                zindex: 9999,
                title: 'Aviso',
                message: 'Tem certeza que quer apagar o registro?',
                position: 'center',
                buttons: [
                    ['<button><strong>Sim</strong></button>', function () {

                        location.href = '@Url.Action("UserDelete", "Master")/' + id;

                    }, null],
                    ['<button>Não</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                    }],
                ],
                onClosing: function (instance, toast, closedBy) {
                    console.info('Closing | closedBy: ' + closedBy);
                },
                onClosed: function (instance, toast, closedBy) {
                    console.info('Closed | closedBy: ' + closedBy);
                }
            });
        }

        function Activate(id) {
            iziToast.warning({
                backgroundColor: '#6930EE',
                theme: 'dark',
                progressBar: false,
                timeout: false,
                close: false,
                overlay: true,
                displayMode: 'once',
                zindex: 999,
                title: 'Aviso',
                message: 'Tem certeza que quer ativar esse registro?',
                position: 'center',
                buttons: [
                    ['<button><strong>Sim</strong></button>', function () {

                        location.href = '@Url.Action("UserDelete", "Master")/' + id;

                    }, null],
                    ['<button>Não</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                    }],
                ],
                onClosing: function (instance, toast, closedBy) {
                    console.info('Closing | closedBy: ' + closedBy);
                },
                onClosed: function (instance, toast, closedBy) {
                    console.info('Closed | closedBy: ' + closedBy);
                }
            });
        }

        $(function () {
            var errorMsg = '@TempData["Error"]';

            if (errorMsg != '') {
                iziToast.error({
                    title: 'Erro',
                    message: errorMsg
                });
            }
        })

        function ShowInactive() {
            $('.inactive-list').toggleClass('d-none');
        }
    </script>
}