@model IEnumerable<Events.Models.EVENTO>
@using System.Security.Claims;

@{
    var userAuth = (ClaimsIdentity)User.Identity;
    if (userAuth.Claims.Any(c => c.Type == ClaimTypes.Role && (c.Value == "3")))
    {
        Response.Redirect("/Master/Index");
    }
    else if (userAuth.Claims.Any(c => c.Type == ClaimTypes.Role && (c.Value == "4")))
    {
        Response.Redirect("/Admin/Index");
    } 
    else if (userAuth.Claims.Any(c => c.Type == ClaimTypes.Role && (c.Value == "5")))
    {
        Response.Redirect("/Assistant/Index");
    }
}

@if (userAuth.IsAuthenticated)
{
    <div class="row mb-5">
        <div class="col-lg">
            <h4>Olá, @userAuth.Claims.Where(c => c.Type == ClaimTypes.GivenName).FirstOrDefault().Value</h4>
            <p class="text-muted">Separamos alguns atalhos para você</p>
            <div class="row">
                <div class="col-lg-4 mb-2"><a class="btn btn-primary btn-block" href="@Url.Action("MyEvents", "Events")"><i class="fas fa-calendar-alt"></i> Meus eventos</a></div>
                <div class="col-lg-4 mb-2"><a class="btn btn-primary btn-block" href="@Url.Action("MyProfile", "Users", new { id = userAuth.Claims.Where(c => c.Type == ClaimTypes.Sid).FirstOrDefault().Value })"><i class="fas fa-user-circle"></i> Minha conta</a></div>
                <div class="col-lg-4"><a class="btn btn-primary btn-block" href="@Url.Action("Index", "Events")"><i class="fas fa-calendar-plus"></i> Explorar eventos</a></div>
            </div>
        </div>
    </div>

}
else
{
    <div class="jumbotron bg-main-gradient text-light text-center text-sm-left mb-5">
        <div class="row">
            <div class="col-lg-6 mb-5 my-md-auto">
                <img class="img-fluid" src="~/Content/img/undraw/undraw_celebration_0jvk.svg" />
            </div>
            <div class="col-lg-6 my-auto mx-auto">
                <h2>Conecte-se ao Events</h2>
                <h4>Tenha as melhores experiências com eventos, reserve sua vaga e receba certificados online</h4>
                <a class="btn btn-primary btn-lg mt-3" href="@Url.Action("Register", "Users")">
                    Cadastre-se grátis<i class="fas fa-angle-right ml-3"></i>
                </a>
            </div>
        </div>
    </div>
}



<div class="row mb-3">
    <div class="col-lg-6 text-center text-sm-left">
        <h4>Eventos em alta</h4>
    </div>
    <div class="col-lg-6 text-center text-sm-right my-auto">
        <a href="@Url.Action("Index", "Events")">Explorar eventos<i class="fas fa-arrow-right ml-2"></i></a>
    </div>
</div>

<div class="row mb-3">
    @foreach (var item in Model)
    {
        if (item.ATIVO == 0)
        {
        }
        else
        {
            <div class="col-lg-4 mb-3">
                <div class="card custom-card">
                    <img class="card-img-top img-fluid custom-object-fit-cover"
                         src="@Url.Content(item.IMAGEM_URL)"
                         alt="Foto do evento" />
                    <div class="card-body">
                        @if (item.VAGAS <= 5 && item.VAGAS != 0)
                        {
                            <div class="badge badge-info float-right">Últimas vagas</div>
                        }
                        else if (item.VAGAS == 0)
                        {
                            <div class="badge badge-danger float-right">Esgotado</div>
                        }
                        <div class="text-muted font-weight-bold mb-3" style="font-size: 0.8rem">
                            <span class="mr-2"><i class="fas fa-calendar mr-2"></i>@Html.DisplayFor(modelItem => item.DATA)</span>
                            <span><i class="fas fa-clock mr-2"></i>@Html.DisplayFor(modelItem => item.HORARIO)</span><br />
                        </div>
                        <h4 class="card-title text-truncate">@Html.DisplayFor(modelItem => item.TITULO)</h4>
                        <p class="card-text text-muted text-truncate">@Html.DisplayFor(modelItem => item.DESCRICAO)</p>

                        <a href="@Url.Action("Details", "Events", new { id = item.COD_EVENTO })" class="stretched-link btn-block btn btn-primary">
                            <i class="fas fa-calendar-plus"></i> Participar
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <script>
        $(function () {
            var successMsg = '@TempData["Success"]';

            if (successMsg != '') {
                iziToast.success({
                    title: 'Sucesso',
                    message: successMsg
                });
            }
        })
    </script>
}
