@using Events.Models
@model SubsViewModel
@using System.Security.Claims
@{
    ViewBag.Title = "Inscrições";
}
<div class="row mb-3">
    <div class="col-lg">
        <h4>
            <a class="text-dark mr-2" href="@Url.Action("Index", "Assistant")"><i class="fas fa-arrow-left"></i></a>
            @ViewBag.Title
        </h4>
        <p class="text-muted">Gerencie os registros de inscrições.</p>
    </div>
</div>

<div class="card mb-3">
    <div class="table-responsive">
        <table class="table text-truncate">

            <thead class="thead-light">
                <tr>
                    <th scope="col">Cód. Inscrição</th>
                    <th scope="col">Nome Usuário</th>
                    <th scope="col">Título Evento</th>
                    <th scope="col">Data</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>

            <tbody class="bg-white">
                @foreach (var item in Model.InscricaoVM)
                {
                    foreach (var eventItem in Model.EventoVM.Where(x => x.COD_EVENTO == item.COD_EVENTO))
                    {
                        foreach (var userItem in Model.UsuarioVM.Where(x => x.COD_USUARIO == item.COD_USUARIO))
                        {
                            <tr>
                                <th scope="row">
                                    @Html.DisplayFor(modelItem => item.COD_INSCRICAO)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => userItem.NOME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => eventItem.TITULO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => eventItem.DATA)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => eventItem.HORARIO)
                                </td>
                                @if (item.COD_VALIDADO == 0)
                                {
                                    <td>
                                        <div class="badge badge-warning">Pendente</div>
                                    </td>
                                }
                                else if (item.COD_VALIDADO == 1)
                                {
                                    <td>
                                        <div class="badge badge-success">Validado</div>
                                    </td>
                                }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>


