@model Events.Models.User

@{
    ViewBag.Title = "Entrar no Events";
    Layout = "~/Views/Layout/_EventsLayout.cshtml";
}

@if (Session["id"] != null)
{
    Response.Redirect("/");
}

@Styles.Render("~/custom/css")

<div class="container my-5">
    <div class="row mb-3">
        <div class="col-lg text-center">
            <a href="/" class="main-font text-light display-4">Events</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 mx-auto">
            <div class="container rounded bg-white shadow-sm p-5">
                <form action="/autenticar" method="post" class="needs-validation" novalidate>
                    <h2 class="text-center mb-3">
                        @ViewBag.Title
                    </h2>
                    <!-- email -->
                    <div class="form-group">
                        @Html.EditorFor(m => m.LoginEmail, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "Email", required = "required" } })
                    </div>
                    <!-- senha -->
                    <div class="form-group">
                        @Html.EditorFor(m => m.PasswordHash, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Senha", minlength = "6", maxlength = "20", required = "required" } })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block btn-preload mb-2">Entrar</button>
                        <small class="text-muted">
                            Novo por aqui? <a href="/cadastro">Criar conta</a> &middot;
                            <a href="#">Esqueci minha senha</a>
                        </small>
                    </div>
                    @if (TempData["Error"] != null)
                    {
                        <div class="form-group">
                            <div class="alert alert-danger alert-dismissible show" role="alert">
                                @TempData["Error"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>