@model IEnumerable<Events.Models.EVENTO>
@using System.Security.Claims;

@{
    ViewBag.Title = "Painel de Eventos";

    var userAuth = (ClaimsIdentity)User.Identity;

    if (userAuth.IsAuthenticated &&
        userAuth.Claims.Any(c => c.Type == ClaimTypes.Role
        && (c.Value == "3") || (c.Value == "4") || (c.Value == "5")))
    {
        <div class="row mb-3">
            <div class="col-lg">
                <h4>
                    <a class="text-dark mr-2" href="@Url.Action("Index", "Admin")"><i class="fas fa-arrow-left"></i></a>
                    @ViewBag.Title
                </h4>
                <p class="text-muted">Crie, edite ou desative os registros no @ViewBag.Title.</p>

                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success alert-auto-hide">@TempData["Success"]</div>
                }
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-4">
                <form action="#" method="get">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-dark" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <input class="form-control" type="text" placeholder="Pesquisar..." />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <a class="btn btn-primary" href="@Url.Action("EventCreate", "Admin")"><i class="fas fa-calendar-plus"></i> Novo Evento</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table text-truncate table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Título</th>
                        <th scope="col">Data</th>
                        <th scope="col">Horário</th>
                        <th scope="col">Duração</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                @Html.DisplayFor(modelItem => item.COD_EVENTO)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.TITULO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DATA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HORARIO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DURACAO)
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("EventDetails", "Admin", new { id = item.COD_EVENTO })"><i class="fas fa-pencil-alt"></i> Editar</a>
                                <a class="btn btn-danger disabled" href="@Url.Action("EventDelete", "Admin", new { id = item.COD_EVENTO })"><i class="fas fa-trash-alt"></i> Apagar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    }
    else
    {
        Response.Redirect("/");
    }
}
