@model IEnumerable<Events.Models.User>

@{
    ViewBag.Title = "Painel Geral";
    Layout = "~/Views/Shared/_EventsLayout.cshtml";
}

@if (Session["IsAdmin"] == null)
{
    Response.Redirect("/");
}

<div class="container-fluid bg-white py-5 mb-3">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg">
                <h1 class="font-weight-bold">Olá, @Session["Name"]</h1>
                <h4 class="text-muted">O que deseja fazer agora?</h4>
            </div>
        </div>
        <hr />
        <div class="row mb-5">
            <div class="col-lg">
                <a class="btn btn-primary" href="#newEvent" data-toggle="modal">
                    <i class="fas fa-calendar-plus mr-2"></i>Criar Evento
                </a>
                <a class="btn btn-dark" href="#">
                    <i class="fas fa-calendar-check mr-2"></i>Listar Eventos
                </a>
                <a class="btn btn-dark" href="#">
                    <i class="fas fa-user-edit mr-2"></i>Editar Cadastros
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="font-weight-bold">Usuários</h2>

                <p>
                    @Html.ActionLink("Criar Usuário", "Create New")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsAdmin)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAdmin)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
