@model IEnumerable<Events.Models.User>

@{
    ViewBag.Title = "Painel Geral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["IsAdmin"] == null)
{
    Response.Redirect("/entrar");
}

<div class="row mb-3">
    <div class="col-lg">
        <h2 class="font-weight-bold">Olá, @Session["Name"]</h2>
        <h4 class="text-muted">O que deseja fazer agora?</h4>
    </div>
</div>
<hr />
<div class="row mb-5">
    <div class="col-lg">
        <a class="btn btn-dark btn-lg disabled" href="#">
            <i class="fas fa-calendar-plus mr-2"></i>Novo Evento
        </a>
        <a href="@Url.Action("Create", "Admin")" class="btn btn-dark btn-lg">
            <i class="fas fa-user-plus mr-2"></i>Novo Cadastro
        </a>
        <a class="btn btn-dark btn-lg disabled" href="#">
            <i class="fas fa-calendar-check mr-2"></i>Gerenciar Eventos
        </a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="font-weight-bold">Cadastros</h2>


        <table class="table table-striped">
            <tr>
                <th>Código</th>
                <th>Nome completo</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Administrador?</th>
                <th>Funções</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.Raw("\u2022\u2022\u2022\u2022\u2022")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                    </td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("Edit", "Admin", new { id = item.ID })">
                            <i class="fas fa-pen-alt mr-2"></i>Editar
                        </a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Admin", new { id = item.ID })">
                            <i class="fas fa-trash-alt mr-2"></i>Apagar
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var successMsg = '@TempData["Success"]'
            var errorMsg = '@TempData["Error"]'
            if (successMsg != '') {
                alertify.success(successMsg);
            }
            else if (errorMsg != '') {
                alertify.error(errorMsg);
            }
        });
    </script>
}