@model Events.Models.Event

@{
    ViewBag.Title = "Novo Evento";
    Layout = "~/Views/Shared/_EventsLayout.cshtml";
}

@if (Session["IsAdmin"] == null)
{
    Response.Redirect("/");
}

@Styles.Render("~/forms/css")

<div class="container my-5">
    <div class="row">
        <div class="col-lg-5 mx-auto">
            <div class="bg-white shadow-sm rounded p-5">
                <h4 class="font-weight-bold text-center mb-3">Cadastro de Evento</h4>
                <form method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-pen-alt"></i>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Título do evento", minlength = "3", maxlength = "80", required = "required" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Descrição completa", cols = "500", required = "required" })
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", placeholder = "Título do evento", required = "required", type = "date" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-clock"></i>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.Hour, new { htmlAttributes = new { @class = "form-control", placeholder = "Horário", required = "required", type = "time" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.Local, new { htmlAttributes = new { @class = "form-control", placeholder = "Endereço completo", required = "required", minlength = "2", maxlength = "150" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-image"></i>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", placeholder = "Selecione uma imagem", required = "required", type = "file" } })
                        </div>
                    </div>
                    <a href="/admin" class="btn btn-dark">
                        <i class="fas fa-arrow-left mr-2"></i>Voltar
                    </a>
                    <input class="btn btn-dark" type="reset" value="Limpar">
                    <input type="submit" value="Criar Evento" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>