@model IEnumerable<Events.Models.USUARIO>

@Html.ActionLink("Criar cadastro", "Register", "Users")

@if (TempData["Success"] != null) {
    <div class="alert alert-success">@TempData["Success"]</div>
}

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SENHA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CELULAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COD_PERFIL)
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SENHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CELULAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COD_PERFIL)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.COD_USUARIO }) |
                @Html.ActionLink("Details", "Details", new { id = item.COD_USUARIO }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.COD_USUARIO })
            </td>
        </tr>
    }

</table>
