@model Events.Models.USUARIO
@using System.Security.Claims;

@{
    ViewBag.Title = "Meu perfil";
    var userAuth = (ClaimsIdentity)User.Identity;
}

<div class="row mb-3">
    <div class="col-lg">
        <h4>
            <a class="text-dark mr-2" href="/"><i class="fas fa-arrow-left"></i></a>
            @ViewBag.Title
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.HiddenFor(x => x.COD_USUARIO)
            @Html.HiddenFor(x => x.COD_PERFIL)
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Nome</label>
                @Html.EditorFor(model => model.NOME, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control",
                           minlength = "3",
                           maxlength = "50",
                           required = "required",
                           @readonly = "readonly",
                           pattern = @"[A-Za-zÀ-ú ']{4,}"
                       }
                   })
            </div>
            <div class="form-group">
                <label>Email</label>
                @Html.EditorFor(model => model.EMAIL, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   type = "email",
                   minlength = "3",
                   maxlength = "35",
                   @readonly = "readonly",
                   required = "required"
               }
           })
            </div>
            <div class="form-group">
                <label>Senha atual</label>
                @Html.EditorFor(model => model.SENHA, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   type = "password",
                   required = "required",
                   @readonly = "readonly",
                   id = "senha"
               }
           })
            </div>
            <div class="form-group">
                <label>Celular</label>
                @Html.EditorFor(model => model.CELULAR, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   type = "text",
                   minlength = "11",
                   maxlength = "11",
                   required = "required",
                   @readonly = "readonly",

                   pattern = "[0-9]+"
               }
           })
            </div>
            <div class="form-group">
                <div class="btn-group w-100" role="group">
                    <a href="#" onclick="EditFields()" class="btn btn-primary">
                        <i class="fas fa-pencil-alt"></i> Editar
                    </a> 
                    <a href="#" onclick="CancelEdit()" class="btn btn-dark form-cancel-edit d-none">
                        <i class="fas fa-times-circle"></i> Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary form-submit" disabled>
                        <i class="fas fa-save"></i> Salvar
                    </button>
                </div>         
            </div>
        }
    </div>
    <div class="col-lg-4">
        <label>Opções da conta</label>
        <div class="form-group">
            <a onclick="Desactivate(@Model.COD_USUARIO)" class="btn btn-danger btn-sm" href="#"><i class="fas fa-user-slash"></i> Desativar minha conta</a>
        </div>
        <ul class="list-unstyled text-muted" style="font-size: 0.8rem">
            <li class="mb-3"><i class="fas fa-arrow-circle-right"></i> Caso opte por desativar a conta, certifique-se que não esteja inscrito em quaisquer eventos ativos.</li>
            <li><i class="fas fa-arrow-circle-right"></i> Se você tiver intenções de reativá-la, terá que entrar em contato com a Fieb nos meios de contato disponíveis no site: <a href="https://fieb.edu.br/#_contato" target="_blank">Clique aqui</a> para ver os contatos.</li>
        </ul>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            var successMsg = '@TempData["Success"]';

            if (successMsg != '') {
                iziToast.success({
                    title: 'Sucesso',
                    message: successMsg
                });
            }
        })

        $(function () {
            var errorMsg = '@TempData["Error"]';

            if (errorMsg != '') {
                iziToast.error({
                    title: 'Erro',
                    message: errorMsg
                });
            }
        })

        function Desactivate(id) {
            iziToast.warning({
                backgroundColor: '#6930EE',
                theme: 'dark',
                progressBar: false,
                timeout: false,
                close: false,
                overlay: true,
                displayMode: 'once',
                zindex: 9999,
                title: 'Aviso',
                message: 'Tem certeza que quer desativar sua conta?',
                position: 'center',
                buttons: [
                    ['<button><strong>Sim</strong></button>', function () {

                        location.href = '@Url.Action("DesactivateAccount", "Users")/' + id;

                    }, null],
                    ['<button>Não</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                    }],
                ],
                onClosing: function (instance, toast, closedBy) {
                    console.info('Closing | closedBy: ' + closedBy);
                },
                onClosed: function (instance, toast, closedBy) {
                    console.info('Closed | closedBy: ' + closedBy);
                }
            });
        }


        function EditFields() {
            $('.form-control').removeAttr('readonly');
            $('.custom-select').removeAttr('disabled');
            $('.form-submit').removeAttr('disabled');
            $('.form-cancel-edit').addClass('d-block');
        }

        function CancelEdit() {
            $('.form-control').prop('readonly', true);
            $('.custom-select').prop('disabled', true);
            $('.form-submit').prop('disabled', true);
            $('.form-cancel-edit').removeClass('d-block');
        }
    </script>
}


