@model Events.Models.EVENTO

@{
  ViewBag.Title = "AddOrEdit";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddOrEdit</h2>

<div class="form-control">
    @using (Html.BeginForm())
    {
    @Html.HiddenFor(model => model.COD_EVENTO)

    <div class="form-group">
        @Html.LabelFor(Model => Model.TITULO)
        @Html.EditorFor(Model => Model.TITULO)
        @Html.ValidationMessageFor(Model => Model.TITULO)
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.DESCRICAO)
        @Html.EditorFor(Model => Model.DESCRICAO)
        @Html.ValidationMessageFor(Model => Model.DESCRICAO)
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.DATA)
        @Html.EditorFor(Model => Model.DATA)
        @Html.ValidationMessageFor(Model => Model.DATA)
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.HORARIO)
        @Html.EditorFor(Model => Model.HORARIO)
        @Html.ValidationMessageFor(Model => Model.HORARIO)
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.DURACAO)
        @Html.EditorFor(Model => Model.DURACAO)
        @Html.ValidationMessageFor(Model => Model.DURACAO)
    </div>
    <div class="form-group">
        <input type="Submit" value="Submit" class="btn btn-success"/>
        <input type="reset" value="Reset" class="btn btn-warning"/>
    </div>
    }
</div>

@section scripts{
    @Scripts.Render()
}

