@model Events.Models.EVENTO

@{
    ViewBag.Title = Html.DisplayFor(x => x.TITULO);
}

@if (Model.ATIVO == 0)
{
    Response.Redirect("/");
}

@Html.HiddenFor(x => x.COD_EVENTO)

<img class="img-fluid custom-object-fit-cover rounded mb-4"
     src="@Url.Content(Model.IMAGEM_URL)"
     alt="@Html.DisplayFor(x => x.TITULO)"
     title="@Html.DisplayFor(x => x.TITULO)"/>

<div class="row mb-3">
    <div class="col-lg-8 mb-4 mb-sm-0">
        <div class="border rounded p-5">
            <div class="row mb-3">
                <div class="col-lg-8">
                    <h4 class="font-weight-bold mb-3">@Html.DisplayFor(x => x.TITULO)</h4>
                </div>
                <div class="col-lg-4 text-center text-sm-right">
                    <a href="/eventos" class="card-link" title="Voltar">
                        <i class="fas fa-arrow-left fa-lg"></i>
                    </a>
                    <a href="#favorito" class="card-link" id="favToggler" title="Marcar como favorito">
                        <i class="fas fa-heart fa-lg"></i>
                    </a>
                    <a href="#shareModal" class="card-link" data-toggle="modal" title="Compartilhar">
                        <i class="fas fa-share-alt fa-lg"></i>
                    </a>
                </div>
            </div><hr/>
            <p class="mb-5">@Html.DisplayFor(x => x.DESCRICAO)</p>
            <iframe class="rounded w-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.5604115602814!2d-46.8919696855443!3d-23.51233796566769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf03e63bc7a06d%3A0xc14462a7d6d04032!2sITB%20Bras%C3%ADlio%20Flores%20de%20Azevedo%20(FIEB)!5e0!3m2!1spt-BR!2sbr!4v1594083510603!5m2!1spt-BR!2sbr"
                    height="200"
                    frameborder="0"
                    allowfullscreen="true"
                    aria-hidden="false"
                    tabindex="0">
            </iframe>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="shadow-sm border rounded p-4">
            <p class="text-muted">Detalhes do evento</p><hr />
            <p><small><span class="font-weight-bold">@Html.DisplayFor(x => x.VAGAS)</span> vagas restantes</small></p>
            <p><i class="fas fa-calendar-alt text-primary mr-2" title="Data"></i>@Html.DisplayFor(x => x.DATA)</p>
            <p><i class="fas fa-clock text-primary mr-2" title="Horário"></i>@Html.DisplayFor(x => x.HORARIO) <small class="text-muted">início</small></p>
            <p><i class="fas fa-stopwatch text-primary mr-2" title="Duração"></i>@Html.DisplayFor(x => x.DURACAO) <small class="text-muted">duração</small></p>
            <p><i class="fas fa-map-marker-alt text-primary mr-2" title="Local"></i>R. Interna Grupo Bandeirante, 138 - Jardim Belval, Barueri - SP, 06420-150</p>
            @if (Model.VAGAS == 0)
            {
                <a href="#" class="btn btn-danger btn-block disabled"><i class="fas fa-ban mr-2"></i>Esgotado</a>
            }
            else
            {
                <a href="#" onclick="Confirm(@Model.COD_EVENTO)" class="btn btn-primary btn-block"><i class="fas fa-check-circle mr-2"></i>Participar</a>
            }
        </div>
    </div>
</div>

@Html.Partial("_ShareModal")

@section scripts {
    <script>
        function Confirm(id) {
            iziToast.show({
                backgroundColor: '#6930EE',
                theme: 'dark',
                timeout: false,
                progressBar: false,
                close: false,
                overlay: true,
                displayMode: 'once',
                zindex: 9999,
                title: 'Confirmação',
                message: 'Tem certeza que quer se inscrever no evento: <strong>@Html.DisplayFor(x => x.TITULO)</strong>?',
                position: 'center',
                buttons: [
                    ['<button><strong>Sim</strong></button>', function () {

                        location.href = '@Url.Action("Subscribe", "Events")/' + id;

                    }, null],
                    ['<button>Não</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                    }],
                ],
                onClosing: function (instance, toast, closedBy) {
                    console.info('Closing | closedBy: ' + closedBy);
                },
                onClosed: function (instance, toast, closedBy) {
                    console.info('Closed | closedBy: ' + closedBy);
                }
            });
        }

        $(function () {
            var errorMsg = '@TempData["Error"]';

            if (errorMsg != '') {
                iziToast.error({
                    title: 'Erro',
                    message: errorMsg
                });
            }
        })
    </script>
}
