@model IEnumerable<Events.Models.EVENTO>

@{
    ViewBag.Title = "ListEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListEvent</h2>

<p>
  <a href="@Url.Action("AddOrEdit","EVENTO")" class="btn btn-primary"><i class="fa fa-plus"></i> Criar Novo Evento</a>
</p>
<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.COD_EVENTO)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DURACAO)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.TITULO)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DESCRICAO)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DATA)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.HORARIO)
      </th>
      <th></th>
    </tr>
  </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COD_EVENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DURACAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITULO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRICAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HORARIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
